.products{
 display:flex;
 flex-wrap: wrap;
 gap: 30px 10px;
 margin-top: 30px;
 padding: 0 30PX;
}

.products__wrapper{
 width: 240px;
 height: 240px;
 border-radius: 50%;
 margin: 10px auto;
 position: relative;
 transition: all 0.5s ease;
 border: 1px solid lightgray;
}

.products__wrapper:hover{
  background-color:rgb(255, 255, 255);
  transform: scale(1.05);
}

.products__image > img{
 width: 100%;
}

.products__info{
top:150px;
left: 70px;
color: rgb(66, 243, 243);
display: flex;
justify-content: center;
align-items: flex-end;
position: absolute;
cursor: pointer;
gap: 20px;
}

/* QUERIES */
@media only screen and (min-width: 320px) and (max-width: 380px){
 .products{
 gap: 10px;
 margin: 10px 0;
 padding: 0 ;
}

.products__wrapper{
 width: 200px;
 height: 200px;
}

.products__info{
top:140px;
left: 50px;
}
}